name: "Build and push Super Mario Docker image to Docker Hub"

on:
  push:
    branches:
      - main

jobs:
  build_push_supermario_docker_image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build and Push Docker Image
        run: |
          docker build -t docker.io/${{ secrets.DOCKERHUB_USERNAME }}/supermario-game:v1.0 .
          docker push docker.io/${{ secrets.DOCKERHUB_USERNAME }}/supermario-game:v1.0
